.topo {display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 92px;
    background-color:#CF2B2B;
    align-items: flex-start;
    justify-content:center;
    margin-bottom: 92px;
    top: 0;
    left: 0;

}

.conteudo{width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.prato {width: 100%;
    height: 270px;
    display: flex;
    overflow: scroll;
    background-color: pink;
}

.bebida{width: 100%;
    height: 270px;
    display: flex;
    overflow: scroll;
    background-color: aquamarine;   
}

.sobremesa{width: 100%;
    height: 270px;
    display: flex;
    overflow: scroll;
    background-color: yellow;
}

.baixo {display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 92px;
    background-color:  #CF2B2B;
    align-items: flex-start;
    justify-content:center;
    margin-top: 92px;
    bottom: 0;
    left: 0;
}

.tela{width: 414px;
    height: 100%;
    background-color: #e5e5e5;
}